[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized
[submodule "thoughtbot-dotfiles"]
	path = thoughtbot-dotfiles
	url = https://github.com/thoughtbot/dotfiles
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
