[user]
	name = Miquel Angel Quinones Garcia
	email = m.quinones.garcia@gmail.com
[core]
	excludesfile = $HOME/.gitignore_global
	whitespace = trailing-space,space-before-tab
[color]
	interactive = true
	showbranch = true
	status = true
	ui = auto
[help]
	autocorrect = 1
[advice]
	pushNonFastForward = false
	statusHints = false
	pusshNoFastForward = false
[diff]
	renames = copies
	mnemonicprefix = true
	tool = Kaleidoscope
[merge]
	stat = true
	tool = Kaleidoscope
	renamelimit = 5000
	ff = true
[push]
	default = simple
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
[alias]
	p = push
	co = checkout
	ci = commit
	cm = commit -m
	aa = add -A
	ca = commit --amend
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
